<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.santiago.sqlite">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_sqlite"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_sqlite"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.RegistroActivity" />
        <activity android:name=".activities.ConsultarActivity" />
        <activity android:name=".activities.ComboActivity" />
        <activity android:name=".activities.ListarActivity" />
        <activity android:name=".activities.DetalleUsuarioActivity" />
        <activity android:name=".activities.RegistroMascotaActivity" />
        <activity android:name=".activities.ListarMascotaActivity" />
        <activity android:name=".activities.DetalleMascotaActivity"></activity>
    </application>

</manifest>